.code-box-demo .demo {
  overflow: auto;
}
.code-box-demo .ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}
.code-box-demo .ant-btn-rtl {
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 8px;
}
#components-popover-demo-arrow .ant-btn {
  width: 70px;
  text-align: center;
  padding: 0;
}

.S_button{
  background-color: #7338AC;
  font-weight: bold;
  font-size: 15px;
  width: 80%;
  padding: 0 10px;
  height: 42px;
  text-align: center;
}

.Y_button{
  background-color: #ED4337;
  font-weight: bold;
  font-size: 15px;
  width: 80%;
  padding: 0 10px;
  height: 42px;
  text-align: center;
}

.buttons_click p:hover{
  cursor: pointer;
}

.hovered{
  width: 80%;
  padding: 20px;
}

.style_name{
  font-size: 17px;
  font-weight: 500;
  padding: 12px;
}

.style_name:nth-child(1){
  text-align: start !important;
}

.big_div{
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
}

.scrolly{
  max-height: 70vh;
  overflow-y: scroll;
}

.cols_circle{
  margin-top: 7px !important;
}

.scrolly::-webkit-scrollbar{
  height: 10px;
  width: 10px;
}

.scrolly::-webkit-scrollbar-thumb{
  background-color: #c1c1c1;
  border-radius: 20px;
}

.S_button_hover, .Y_button_hover{
  position: relative;
}

.S_button_hover:hover .hover_S, .Y_button_hover:hover .hover_Y{
  display: block;
}

.hover_Y, .hover_S {
  position: absolute;
  background-color: rgb(5, 196, 107);
  margin: 0 auto;
  top: 0;
  right: 0;
  border-radius: 5px;
  display: none;
}